# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My file
*.suo
*.db
*.ipch
*.vs/VP2_LR2/v16/.suo
*.vs/VP2_LR2/v16/Browse.VC.db
VP2_LR2/VP2_LR2.vcxproj.filters
*.pdb
*.vs/VP2_LR2/v16/.suo
.vs/VP2_LR2/v16/.suo
.vs/VP2_LR2/v16/Browse.VC.db
.vs/VP2_LR2/v16/Browse.VC.db-shm
.vs/VP2_LR2/v16/Browse.VC.db-wal
.vs/VP2_LR2/v16/Browse.VC.db
.vs/VP2_LR2/v16/Browse.VC.opendb
.vs/VP2_LR2/v16/ipch/AutoPCH/789f3c7edf0c38b7/MAIN.ipch
VP2_LR2/x64/Debug/VP2_LR2.ilk
VP2_LR2/x64/Debug/vc142.pdb
VP2_LR2/x64/Debug/VP2_LR2.tlog/CL.read.1.tlog
VP2_LR2/x64/Debug/VP2_LR2.tlog/CL.write.1.tlog
VP2_LR2/x64/Debug/VP2_LR2.tlog/link.read.1.tlog
*.pdb
